@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --shine-degree: 120deg;
    --shine-color: #5661f654;
    --shine-effect: linear-gradient(
      var(--shine-degree),
      transparent,
      var(--shine-color),
      transparent
    );
    --shine-transition: all 0.75s ease-in-out;

    --radius: 0.5rem;

    --theme-background: #110D22;
    --theme-primary: #5661F6;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
    box-sizing: border-box
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

.nav-gradient {
  background-image: radial-gradient(
    ellipse at center,
    transparent 50%,
    var(--theme-color) 250%
  );
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.shine {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--shine-effect);
  }
}

.shine-hover {
  &::before {
    left: -100%;
    transition: var(--shine-transition);
  }

  &:hover {
    &::before {
      left: 100%;
    }
  }
}

.shine-anim {
  &::before {
    animation: shine 4s ease-in-out infinite;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    transition-property: left;
  }
  10%,
  100% {
    left: 100%;
    transition-property: left;
  }
}

.radial-gradient {
  background-image: radial-gradient(
    circle,
    rgba(74, 40, 211, 0.513) 5%,
    rgba(74, 40, 211, 0.513) 10%,
    transparent 60%
  );
  filter: blur(5px)
}


/* tailwind styles */

.theme-gradient {
  @apply bg-gradient-to-r from-[var(--theme-color)] to-indigo-200 bg-clip-text text-transparent;
}

.head-text {
  @apply text-4xl font-bold tracking-tight leading-[1.5] md:text-5xl lg:text-6xl;
}
